<!DOCTYPE html>
<html>
<head>
	<title>Web-crawler</title>
</head>
<body>
<h3> Thông tin </h3>
<center>
<table border = 1 width="900" >
<tr>
	<td>
		Website
	</td>
	
</tr>
<tr>
	<td>
		<%for (var i = 0; i < arr.length; i++) {%>
			<p><%= arr[i] %></p>
		<%}%>
	</td>
</tr>
</table>
</center>
</body>
</html>


